* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  
}

body {
  font-family: Poppins  system-ui, -apple-system, BlinkMacSystemFont, Poppins, Roboto,
    Oxygen, Ubuntu, Cantarell, Poppins, Poppins, sans-serif;
    /* font-family: Poppins, sans-serif; */

  font-size: 1.6rem;
  background: var(--gray-000);
  color: var(--text-lightmode);
}
