/* Reset básico */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: -1;
}

/* Container principal */
.main-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Conteúdo principal */
.content {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

h2 {
    color: #4CAF50;
}

.main-content {
    font-size: 16px;
    color: #333;
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    height: auto; /* Ajusta para o conteúdo crescer naturalmente */
  }

  /* Se o Sidebar tem uma classe específica (ex.: .sidebar), ajuste o seu estilo */
  .sidebar {
    width: 100%;
    /* Caso queira adicionar uma margem ou limitar altura, adicione aqui */
  }

  .content {
    padding: 10px;
  }
}
